@import "colors.scss";
@import "../row/row.scss";
@import "../Header/header.scss";
@import '../trailer/trailer.scss';
@import '../MoviePage/moviePage.scss';
@import '../genres/genres.scss';
@import '../Nav/nav.scss';
@import '../Actor/actor.scss';
body {
  background-color: $my__black;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(54, 56, 58);
  border-radius: 10px;
}
