.trailer {
  margin-top: 30px;
}
.trailer__container {
  height: 500px;
  width: 85%;
  margin: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
